.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: gray;
  }
   
  .flex-container > div {
    background-color: #f4d9d9;
    padding: 10px;
    border: 1px solid #814545;
    border-radius: 8px;
    text-align: center;
    max-width: 150px;
  }

  section {
    margin: 20px auto;
    padding: 20px;
    background-color: #8d7e7e;
    border-radius: 8px;
    max-width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }