body {
    background-color: whitesmoke;
  }
  
h1 {
  font-size: 48px;
    color: white;
    text-align: center;

    font-family: Arial, sans-serif;

    border: 1px solid black;
    border-radius: 8px;
    margin: 40px auto;
    padding: 15px;
    background-color: #222222;
    width: 90%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
h2 {
  font-size: 2em;
  color: #222222;
  text-align: justify;

  font-family: Arial, sans-serif;
}

h3 {
  font-size: 2em;
  color: #222222;
  text-align: center;
  font-family: Arial, sans-serif;
  margin-bottom: 20px; 
}

  p {
    font-size: 1em;
    color: #222222;
    text-align: justify;

    font-family: verdana;
    font-size: 20px;

    font-family: Arial, sans-serif;
  }

  section {
    border: 1px solid #6a6a6a;
    border-radius: 8px;
    margin: 40px auto;
    padding: 15px;
    background-color: #d3d3d3;
    width: 90%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0; 
  }

.image-container img {
  width: 300px; 
  height: auto; 
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.text-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  gap: 10px; 
  text-align: center; 
}

 
.button-container {
  display: flex; 
  gap: 10px; 
  flex-wrap: wrap; 
}

.button {
  background-color: #6a6a6a;
  color: white;
  padding: 15px; 
  border-radius: 10px;
  border: 2px solid #333;
  text-align: center;
  font-weight: bold;
  transition: background-color 0.3s;
  text-decoration: none; 
}

.button:hover {
  background-color: white;
  color: black;
}

  .image-container {
    display: flex;             
    justify-content: center;   
    align-items: center;       
    margin: 20px auto;        
    width: 100%;              
}

.image-container img {
    max-width: 100%;          
    height: auto;              
    border-radius: 10px;       
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.picture-gallery {
  margin: 20px auto;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 90%;
  text-align: center;
  max-width: 1200px; 
}

.picture-gallery h2 {
  text-align: center;
}

.picture-gallery .gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  justify-items: center;
}

.picture-gallery .gallery-container img {
  width: 100%; 
  height: 100%;
  max-width: 300px; 
  max-height: 300px; 
  object-fit: cover; 
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.picture-gallery .gallery-container img:hover {
  transform: scale(1.1); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}
